table,
th,
td {
  border: 1px solid;
}

table {
  border-collapse: collapse;
}

/* Astros  */

.red {
  background-color: lightcoral;
}

.blue {
  background-color: lightblue;
}

.astros-table {
  margin: auto;
}

/* Home  */
ul li {
  margin-bottom: 5px;
}

h1 {
  text-align: center;
}
