* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: #d3d3d3;
}

table,
th,
td {
  border: 1px solid;
  padding: 20px;
  text-align: center;
}

table {
  border-collapse: collapse;
}

/* Astros  */
.table-heading {
  background-color: gray;
}

.red {
  background-color: lightcoral;
}

.blue {
  background-color: lightblue;
}

.astros-table {
  margin: auto;
}

/* Home  */
ul li {
  margin-bottom: 5px;
  margin-left: 10vw;
}

ul {
  list-style-type: none;
}

h1 {
  text-align: center;
}

/* Position */
.position-info {
  width: 50%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  border: 2px solid black;
}

.pos {
  grid-area: 1 / 1 / 3 / 2;
  margin: auto;
  text-align: center;
  /* border: 2px solid blue;
  background-color: green; */
}

.lat {
  grid-area: 1 / 2 / 2 / 3;
}
.long {
  grid-area: 2 / 2 / 3 / 3;
}

.time-stamp {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.home-button {
  margin-left: 20vw;
  margin-top: 20px;
}
